<nav class="navbar navbar-light bg-light mb-5">
  <a class="navbar-brand" href="/"><img class="logo" src="assets/images/logo-wiewir.svg" height="80"></a>
  <div class="navbar-expand mr-auto">
    <ul class="navbar-nav">
      <li><a class="nav-item nav-link active" href="#">Bungalow</a></li>
      <li><a class="nav-item nav-link" href="#">Stadtvilla</a></li>
      <li><a class="nav-item nav-link" href="#">Satteldachhaus</a></li>
    </ul>
  </div>
  <div class="navbar-expand ml-auto navbar-nav">
    <ul class="navbar-nav">
      <span> <i class="fa fa-phone"></i></span>
      <li><a class="nav-item nav-link" href="#">0917212345</a></li>
      <li><a class="nav-item nav-link" href="#">Konfigurator</a></li>
      <li><a class="nav-item nav-link" href="#">Kontakt</a></li>
    </ul>
    <a class="navbar-brand" href="/"><img class="logo" src="assets/images/logo-luxhaus.png" height="15"></a>
  </div>
</nav>
