nav {
  padding: 1% 5% 1% 2%;
  text-transform: uppercase;
  font-family: 'open sans'
}

nav a {
  font-size: 15px;
  font-weight: bold;
  margin-right: 5%;
}


.navbar-nav span {
  margin-top: 3%;
}

.navbar-brand img {
  margin-left: 15%;
  margin-top: -2%;
}

.navbar-nav li a:hover {
  color: #61eace;
  border-bottom: 1px solid #61eace;
}
